apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: quran-app
          image: yoyo7sniper97/quran-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
