apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: nginx-app
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - port: 5050
      targetPort: 5050
      nodePort: 5050
