name: Docker Image CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Build Docker Image
        run: |
          docker build -t yoyo7sniper97/quran-app-argo:latest ./CI-app

      - name: List Docker Images
        run: |
          docker images  # Verify the built image

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker push yoyo7sniper97/quran-app-argo:latest

      - name: list data
        run: ls -la

  
